body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 20px;
    background-color:green;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .navigation{
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    margin-top: -5px;
   
}
.navigation a{
    float: left;
    color: black;
    text-align: center;
    padding: 20px   16px;
    font-size: 14px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a:hover{
    background: red;
    color:#fff;
}